body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(43, 43, 43);
  width: 100vw;
  height: 100vh;
}

.uiCollected {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 99;
  background-color: orange;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 50%;
}

.levelCompleted {
  position: absolute;
  top: 0.5rem;
  right: 45%;
  z-index: 99;
  width: auto;
  height: 50px;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  font-size: 2rem;
}
